---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero.astro";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import FeaturedProducts from "../components/organisms/FeaturedProducts.astro";
import ProductSpotlight from "../components/organisms/ProductSpotlight.astro";
import Outro from "../components/organisms/Outro.astro";
import Footer from "../components/organisms/Footer.astro";
import Alert from "../components/molecules/Alert.astro";
---

<Layout title="Home">
  <Alert />
  <Hero>
    <div class="hero flex justify-center lg:justify-start pt-36">
      <div class="flex flex-col items-center lg:items-start gap-4">
        <Text type="body" color={colors.dimWhite}>Nuevo Producto</Text>
        <div class="w-[396px]">
          <Text
            className="text-center lg:text-left"
            type="h1"
            color={colors.white}
          >
            XX99 Mark II Headphones
          </Text>
        </div>
        <div class="w-[349px]">
          <Text
            className="text-center lg:text-left"
            type="body"
            color={colors.white}
          >
            Experiencia natural, vida real, audio y calidad de construcción excepcional
            hecho para los entusiastas de la música.
          </Text>
        </div>
        <a href="/products/xx99-mark-two-headphones"
          ><Button className="mt-8" type="primary">Ver Producto</Button></a
        >
      </div>
    </div>
  </Hero>

  <!-- Featured products -->
  <FeaturedProducts />

  <!-- product spotlight section -->
  <ProductSpotlight />

  <!-- Outro section -->
  <Outro />

  <!-- Footer -->
  <Footer />
</Layout>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6705f8a4cec6d0125df39276/1i9nl6gqt';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

<style>
  .hero {
    background-image: url("/assets/home/tablet/image-header.jpg");
    min-height: 700px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media only screen and (min-width: 1024px) {
    .hero {
      background-image: url("/assets/home/desktop/image-hero.jpg");
      background-position-y: 50px;
      background-position-x: 150px;
    }
  }
  @media only screen and (min-width: 1280px) {
    .hero {
      background-position-y: -20px;
      background-position-x: 120px;
    }
  }
  @media only screen and (min-width: 1536px) {
    .hero {
      background-position-y: -80px;
      background-position-x: 260px;
    }
  }
</style>
